@tailwind base;
@tailwind components;
@tailwind utilities;

.top-bar.is-sticky .navbar {
    margin-top: 0;
    padding: 20px 0;
    background-color: #232327;
    box-shadow: 0 10px 33px rgb(0 0 0 / 10%);
}