@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #141414;
  font-family: "Poppins", sans-serif !important;
}
.rc-dropdown{
  font-family: "Poppins", sans-serif !important;
}

.sectionContainer {
  @apply container; 
  @apply mx-auto;
  @apply px-4;
}

.sectionTitle {
  @apply font-bold;
  font-size: 54px;
  @apply leading-snug;
  @apply text-center;
  @apply text-light-high;
  @apply md:text-4xl;
  @apply sm:text-2xl;
}

.sectionSubTitle {
  @apply font-medium;
  @apply text-base;
  @apply leading-snug;
  @apply text-center;
  @apply text-light-mid;
}

.top-bar.is-sticky .navbar {
  margin-top: 0;
  padding: 20px 0;
  background-color: #232327;
  box-shadow: 0 10px 33px rgb(0 0 0 / 10%);
}

@keyframes modalFadeIn {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.modalAnimate.open {
  animation: modalFadeIn 0.5s;
}

.dropDownHover:hover .dropDownContent {
  visibility: visible;
  opacity: 1;
}

.is-sticky.navbar .dropDown .dropDownButton .icon {
  fill: #fcfcfc;
}

.osmo-validators.navbar .dropDown .dropDownButton .icon {
  fill: #fcfcfc;
}

.feature-circle-red {
  width: 97px;
  height: 96px;
  background: radial-gradient(
    100% 100% at 71.37% 80.95%,
    #e10f18 20%,
    #3e3241 100%
  );
  box-shadow: inset 0 3.26418px 7.18121px rgb(255 255 255 / 23%);
  transform: rotate(-150deg);
  transition: all 0.2s ease-in-out;
  border-radius: 50%;
  position: absolute;
  bottom: 25px;
  left: -35px;
}

.feature-circle-red:hover, .feature-circle-one:hover {
  transform: scale(1.1);
}

.feature-circle-one {
  width: 97px;
  height: 96px;
  box-shadow: inset 0 3.26418px 7.18121px rgb(255 255 255 / 23%);
  transform: rotate(-150deg);
  transition: all 0.2s ease-in-out;
  border-radius: 50%;
  position: absolute;
  bottom: 25px;
  left: -35px;
}

.feature-circle-one.purple{
  background: linear-gradient(90deg, #8C84FD 0%, #CA2EBD 91.74%);
}

.feature-circle-one.lavender{
  background: #514FD8;
  bottom: -31px !important;
  left: 50px !important;
}

.feature-circle-two {
  width: 113.59px;
  height: 113.59px;
  box-shadow: inset 0 3.26418px 7.18121px rgba(255, 255, 255, 0.23);
  transform: rotate(-150deg);
  transition: all 0.2s ease-in-out;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 50px;
}

.feature-circle-two.violet{
  background: radial-gradient(73.4% 73.4% at 88.37% 59.95%,#46509f 0,#595d7b 100%);
}

.feature-circle-two.lavender{
  background:#514FD8;
}


.feature-circle-two.purple{
  background: linear-gradient(90deg, #8C84FD 0%, #CA2EBD 91.74%);
}

.feature-circle-two.yellow{
  background: radial-gradient(73.4% 73.4% at 88.37% 59.95%,#f0b90b 0,#775a00 100%);
}

.feature-circle-two.grey {
  background: radial-gradient(73.4% 73.4% at 88.37% 59.95%, #070B09 0%, #585858 100%)
}


.feature-circle-two:hover {
  transform: scale(1.1);
}

.comparison .item:first-child > div:first-child, .comparison .item:first-child > div:nth-child(2) {
  @apply border-solid;
  @apply rounded-tl-lg;
  @apply rounded-tr-lg;
  @apply border-t;
  @apply border-[#313134];
  @apply mr-2;
}

.comparison .item:last-child > div:first-child, .comparison .item:last-child > div:nth-child(2) {
  @apply border-solid;
  @apply rounded-bl-lg;
  @apply rounded-br-lg;
  @apply border-[#313134];
  @apply border-b;
  @apply mr-2;
}


.comparison .item:last-child > div:last-child{
  @apply border-solid;
  @apply rounded-bl-lg;
  @apply rounded-br-lg;
  @apply border-b;
  @apply border-b-[#5064fb];
}

.comparison.bnb .item:last-child > div:last-child{
  @apply border-b-[#f0b90b];
}

.comparison .item:first-child > div:last-child{
  @apply border-solid;
  @apply rounded-tl-lg;
  @apply rounded-tr-lg;
  @apply border-t;
  @apply border-t-[#5064fb];
}

.comparison.bnb .item:first-child > div:last-child{
  @apply border-t-[#f0b90b];
}

.comparison .item > div:first-child,
.comparison .item > div:nth-child(2) {
  @apply border-solid;
  @apply border-x;
  @apply border-x-[#313134];
  @apply mr-2
}

.comparison .item:not(:first-child) > div{
  @apply border-solid;
  @apply border-t;
  @apply border-t-[#313134];
}

.comparison .item > div:last-child {
  @apply border-solid;
  @apply border-x;
  @apply border-x-[#5064fb];
}

.comparison.bnb .item > div:last-child {
  @apply border-x-[#f0b90b];
}

.gradient-text{
  /*-webkit-background-clip: text;*/
  /*-webkit-text-fill-color: transparent;*/
  /*-webkit-box-decoration-break: clone;*/
  /*box-decoration-break: clone;*/
  /*text-shadow: none;*/
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.custom-table thead tr th:first-child{
  text-align: left;
  width: 40%;
  /*border-top-left-radius: 6px;*/
  /*border-bottom-left-radius: 6px;*/
}
.custom-table table, th, td {
  border:  0.5px solid #3E3E3E;
  border-collapse: collapse;
}

.custom-table thead tr th{
  padding: 12px 40px;
  font-size: 14px;
  height: 42px;
  color: #FBFBFB;
  font-weight: 600;
  position: sticky;
  top: -1px;
  background: #1D1D1F;
  text-align: right;
}

/*.custom-table thead tr th:last-child{*/
/*  text-align: center;*/
/*  padding:12px 32px 12px 16px;*/
/*  !*border-top-right-radius: 6px;*!*/
/*  !*border-bottom-right-radius: 6px;*!*/
/*}*/

.custom-table tbody{
  @apply bg-black-600;
}

.custom-table tbody tr:first-child td{
  padding-top: 20px !important;
}
.custom-table tbody tr:last-child td{
  padding-bottom: 20px !important;
}
.custom-table tbody tr td {
  padding: 12px 40px;
  font-size: 14px;
  font-weight: 400;
  text-align: right;
  color: #FBFBFB;
}

.custom-table tbody tr td:first-child{
  padding: 12px 4px 12px 40px;
  width: 40%;
  font-size: 16px;
}

.custom-table tbody tr td:nth-child(2), .custom-table thead tr th:nth-child(2){
  width: 20%;
}

.custom-table tbody tr td:nth-child(3), .custom-table thead tr th:nth-child(3){
  width: 20%;
}

.custom-table tbody tr td:last-child, .custom-table thead tr th:last-child{
  width: 20%;
}

.criteria.custom-table thead tr th:first-child{
  border-top-left-radius: 6px;
}

.criteria.custom-table thead tr th:last-child{
  border-top-right-radius: 6px;
}

.criteria.custom-table, .criteria.custom-table th, td {
  border-collapse: separate !important;
  border-spacing: 0;
}

.spinner.large {
  width: 2rem;
  height: 2rem;
}

.spinner.medium {
  width: 1.5rem;
  height: 1.5rem;
}

.spinner.small {
  width: 1.3rem;
  height: 1.3rem;
}


/* custom spinner */
@-webkit-keyframes spinner-border {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner-border {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.spinnerSecondary::after {
  border: 0.2em solid #47c28b;
  border-right-color: #9bccb6;
  border-bottom-color: #9bccb6;
  border-radius: 50%;
  -webkit-animation: spinner-border 0.75s linear infinite;
  animation: spinner-border 0.75s linear infinite;
}

.spinner {
  border: 0.15em solid currentColor;
  border-right-color: transparent;
  -webkit-animation: spinner-border 0.75s linear infinite;
  animation: spinner-border 0.75s linear infinite;
}

.spinner.secondary {
  border: 0.15em solid #A6A6A6;
  border-right-color: #FFFFFF;
  -webkit-animation: spinner-border 0.75s linear infinite;
  animation: spinner-border 0.75s linear infinite;
}

.spinner.light {
  color: #f8f9fa !important;
}

.dropDownButton.large {
  font-size: 20px;
  padding: 8px 16px;
  font-weight: 600;
  line-height: 30px;
  height: 48px;
}

.dropDownButton.medium {
  font-size: 16px;
  padding: 8px 16px;
  font-weight: 600;
  line-height: 24px;
  height: 40px;
}

.dropDownButton.small {
  font-size: 12px;
  padding: 8px 16px;
  font-weight: 600;
  line-height: 18px;
  height: 32px;
}

.dydx-usecase .box{
 padding: 1px;
 background-origin: border-box;
background-clip: content-box, border-box;
border-radius: 5px;
background-image: linear-gradient(to right, #232334, #232334), linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0))
}

.accordion-mobile-header .accordion.active .accordion-item-title{
    background:#EE972C4D;
}

.accordion-mobile-header .accordion.active .accordion-item-title{

}


.btc-assets .slick-slide {
  height:500px !important;
  display: flex !important;
  align-items: center !important;
  padding-top: 10px;
  padding-bottom: 10px;
}

.btc-assets .slick-slide>div img{
  transition: all .4s ease-in-out;
  border-radius: 40px;

}
.btc-assets .slick-slide.slick-center img{
  transition: all .5s ease-in-out;
  transform: scale(2);
}
.btc-assets .slick-dots{
  bottom: -40px !important;
}
.btc-assets .slick-dots li button{
  background: #999999 !important;
  color: #999999 !important;
  border-radius: 100%;
  width: 12px !important;
  height: 12px !important;
}

.btc-assets .slick-dots li.slick-active button{
  background: #EE972C !important;
  color: #EE972C !important;
  width: 16px !important;
  height: 16px !important;
}


.slick-dots li button:before, .slick-dots li.slick-active button:before{
  color: transparent !important;
}

.slick-prev, .slick-next{
  display: none !important;
}

.custom-arrow-slider.react-multi-carousel-list{
  padding-bottom: 50px;
}

.custom-arrow-slider .react-multiple-carousel__arrow, .custom-arrow-slider .react-multiple-carousel__arrow:hover{
  min-width: 22px;
  background: #423f40d9;
  min-height: 22px;
}
.custom-arrow-slider .react-multiple-carousel__arrow--left{
  left: 10px;
  bottom:5px
}
.custom-arrow-slider .react-multiple-carousel__arrow--right{
  right: auto;
  left:40px;
  bottom: 4px;
}
.custom-arrow-slider .react-multiple-carousel__arrow::before{
  font-size: 10px;
}

/* custom timeline styles */
.timeline .vertical-timeline::before{
  width:8px;
  border-radius: 50px;
  background: #4a4949a8;
}

.timeline .vertical-timeline--two-columns .vertical-timeline-element-icon{
  box-shadow: none;
  background: none !important;
  left: 3px;
}

.timeline .vertical-timeline-element-content{
  box-shadow: none !important;
}

.timeline .vertical-timeline-element-content-arrow{
  width: 42px;
  height: 1px;
  background: #E3983D;
  top: 18px !important;
  border: 1px solid #E3983D !important;
}


@media only screen and (min-width: 1170px) {
  .vertical-timeline--two-columns .vertical-timeline-element-content-arrow {
    top: 50px !important;
  }
  .timeline .vertical-timeline::before{
    width:18px;
  }
  .timeline .vertical-timeline-element-content-arrow{
    width: 72px !important;
  }
  .timeline .vertical-timeline--two-columns .vertical-timeline-element-icon {
    margin-left: -12px;
    width: 38px;
    height: 38px;
    left: 50% !important;
    top: 32px !important;
  }
  .timeline  .vertical-timeline--two-columns .vertical-timeline-element.vertical-timeline-element--right .vertical-timeline-element-content-arrow,
  .timeline  .vertical-timeline--two-columns .vertical-timeline-element:nth-child(even):not(.vertical-timeline-element--left) .vertical-timeline-element-content-arrow {
    top: 50px !important;
    width: 60px !important;
  }
  .vertical-timeline--two-columns .vertical-timeline-element-content {
    padding: 32px 32px 10px 32px !important;
  }
}
