
@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1340px !important;
  }
}

@media (max-width: 1200px) {
  .featured-on .logos {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .stake-section .card {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .stay-updated .blog-articles a{
    height: auto;
  }
}

@media only screen and (max-width: 991px) {
  .home-page .banner-main-section{
    height: auto;
  }
  .tokensale .investors .investor-list img {
    width: 200px;
  }
  .featured-on {
    padding: 70px 0;
  }
  .stake-section .card {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .is-sticky .navbar.navbar-custom {
    margin-top: 0;
  }
  .governance {
    .gov-displaycontent {
      margin-bottom: 30px;
      .feactures-card {
        padding: 30px 25px;
      }
    }
  }
  .tokensale .tokenomics h5 {
    font-size: 20px;
    line-height: 1.5;
  }
  .tokensale .tokenomics h6 {
    width: 100%;
  }
  .tokensale .participate .section-title {
    font-size: 30px;
  }

  .tokensale .governance .second-section.insurance .section-title {
    text-align: left;
    width: 100%;
  }
  .tokensale .second-section.insurance .caption {
    text-align: left;
  }
  .tokensale .second-section.insurance .row .participate-btn {
    text-align: left;
  }
  .tokensale .second-section.insurance .caption-link {
    font-size: 14px;
    text-align: left;
  }
  .tokensale .investors .section-title.backing_us {
    margin-bottom: 40px;
  }
  .tokensale .investors.validators {
    padding: 75px 0;
  }
  .stay-updated h3 {
    font-size: 28px;
  }
  .tokensale .investors .section-title.backing_us {
    font-size: 34px;
  }
  .tokensale .investors .investor-list img {
    margin: 10px;
  }
  .tokensale .tokenomics .inner-incentive img,
  .tokensale .incentive-alignment .inner-incentive img {
    width: 100%;
  }
  .tokensale .incentive-alignment,
  .tokensale .investors,
  .tokensale .tokenomics {
    padding: 75px 0;
  }
  .banner-section.tokensale .banner-main-section {
    padding: 200px 0 150px 0;
  }
  .tokensale .second-section {
    padding: 75px 0;
  }
  .stake-section.audited .section-title {
    margin-bottom: 25px;
  }
  .stake-section.audited .audited-list img {
    margin: 10px;
  }
  .banner-section .background-gradient .gradient-ellispse {
    display: none;
  }

  .navbar-expand-lg .navbar-nav a {
    color: #fff;
  }
  .stake-section.audited .audited-list {
    width: 100%;
  }

  .pos-section .pos-cards {
    margin: 15px;
  }
  .m-none {
    display: none;
  }
  .dd-none {
    display: block;
  }
  .navbar-expand-lg > .container.mb-pad {
    padding-left: 15px;
    padding-right: 15px;
  }
  .banner-section .banner-video {
    width: 80%;
  }
  .second-section {
    padding: 0 0 150px 0;
  }
  .tokensale .second-section {
    padding: 75px 0;
  }
  .tokensale .incentive-alignment .section-title,
  .tokensale .investors .section-title,
  .tokensale .tokenomics .section-title {
    margin-bottom: 40px;
  }
  .tokensale .incentive-alignment .section-title,
  .tokensale .investors .section-title,
  .tokensale .tokenomics .section-title,
  .binance .section-title,
  .section-title{
    font-size: 28px;
  }
  .info-section .image-section img.ellipse-gradient {
    display: none;
  }
  .navbar-expand-lg .navbar-nav .nav-link.app-btn {
    padding: 10px 15px;
    width: auto;
  }
  .navbar-nav {
    margin-top: 5px;
  }
  .banner-section .banner-buttons .button {
    font-size: 14px;
  }
  .banner-section .banner-heading,
  .pos-section .info-banner-heading,
  .stake-section .section-title,
  .second-section .section-title {
    font-size: 28px;
  }
  .banner-section .caption span {
    display: inline;
  }
  .pos-section .posmarketcap p {
    font-size: 14px;
  }
  .pos-section .section-title {
    width: auto;
  }
  .pos-section .row {
    justify-content: center;
  }
  .banner-section {
    padding: 0 15px;
  }
  .banner-section .banner-main-section {
    padding: 160px 0 0 0;
  }
  .info-section {
    margin-left: -15px;
    margin-right: -15px;
    .row {
      padding: 0 15px;
    }
  }

  .features-section .feature-gradient {
    display: none;
  }
  .top-bar .navbar.navbar-custom .navbar-nav a, .top-bar .navbar.navbar-custom .navbar-nav p{
    color: #fff;
  }
  .top-bar .navbar.navbar-custom button {
    border-radius: 5px;
  }
  .navbar-nav {
    background: #232327;
    padding: 15px 0;
  }
  .top-bar .navbar.navbar-custom li.nav-item {
    margin: 10px 0;
    text-align: center;
    margin-left: 0 !important;
  }

  .uses-section .box-list {
    display: unset;
  }
  .aside-section {
    img {
      width: 100%;
      margin-top: 40px;
    }
  }
  .play-section .play-icon {
    cursor: pointer;
    width: 100%;
    margin-top: 25px;
  }
  .stake-section {
    .col-md-5 {
      width: 100%;
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
  .footer-section {
    .icon-list .item {
      &:first-child{
        .item-body{
          margin-bottom: 30px;
        }
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  ul.dropdown .socialicons {
    justify-content: center;
  }
  .tokensale .investors .investor-list img {
    width: 220px;
  }
  .stake-section .card {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .blogs-section .blog-articles.left {
    margin-bottom: 25px;
  }
  .featured-on .logos {
    justify-content: space-evenly;
  }
  .tokensale .participate .buttonapp .nav-link .nav-link.app-btn {
    width: 200px;
    padding: 10px 40px;
    margin: auto;
  }
  .tokensale .participate .ptp-btn {
    flex-direction: column;
  }
  .binance .banner-section .banner-main-section .banner-heading,
  .banner-section .banner-heading,
  .pos-section .info-banner-heading,
  .stake-section .section-title,
  .second-section .section-title {
    font-size: 24px;
  }
  .tokensale .governance .gradientellipse2 {
    display: none;
  }
  .pos-section p span,
  .stake-section p span {
    display: inline;
  }
  .stake-section p {
    font-size: 14px;
  }
  .main-banner-section {
    padding: 210px 0 0;
    margin: auto;
    .banner-heading {
      font-size: 3rem;
      text-align: center;
    }
  }
  body .table td,
  .table th {
    padding: 0.4rem;
    vertical-align: top;

    font-size: 12px;
  }
  .stake-section .apr h5 {
    padding: 15px 14px;
  }
  .bannernav-section .nav-banner {
    width: 95%;
  }
  .bannernav-section .alert-dismissible .close {
    right: -35px;
  }
  .stake-section {
    .col-md-5 {
      width: 100%;
      flex: 0 0 90%;
      max-width: 100%;
    }
  }
  .uses-section {
    padding: 65px 0;
    .heading {
      margin-bottom: 0;
    }
  }
  .info-section {
    padding: 0;
    margin-left: -15px;
    margin-right: -15px;
  }
  .stake-section {
    padding: 65px 0;
    .section-title {
      margin-bottom: 35px;
    }
  }
  .second-section {
    padding: 0 0;
  }
  .pos-section {
    padding: 65px 0 65px 0;
    .section-title {
      margin-bottom: 25px;
    }
    .posmarketcap {
      margin: 0;
    }
    .row {
      margin: 65px 0 0 0;
    }
    .section-title {
      font-size: 20px;
    }
    .pos-cards {
      margin: 15px;
      .asideposcount h4 {
        font-size: 16px;
      }
      .asideposcount p {
        font-size: 14px;
      }
      img {
        width: 50px;
      }
    }
  }
  .binance {
    .guides-section .row{
      flex-direction: column;
    }
    .ecosystem-section .card{
      flex: 100%;
    }
    .audited-section .audited-list .tracking{
      margin-top: 30px;
      .bug-bounty{
        margin-top: 30px;
      }
    }
  }
}
@media only screen and (max-width: 576px) {
  .tokensale .investors .investor-list, .tokensale .investors .section-title{
    text-align: center;
  }
  .banner-section .banner-buttons {
    .button.xprt.video {
      margin: 0 0 10px 0;
    }
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .binance{
    .ecosystem-section .card .card-body .buttons{
      flex-direction: column;
      .button-link{
        &:first-child{
          margin-bottom: 10px;
        }
      }
    }
  }
  .banner-section .network-stats{
    flex-direction: column;
  }
  .blogs-section .blog-articles {
    .custom-card{
      height: auto;
    }
    a .blog-image{
      height: auto;
      .card-img-top{
        max-height: initial;
        height: auto;
      }
    }
  }
}