body {
    background-color: #1d1d22 !important;
    font-family: "Poppins", sans-serif !important;
}
.navbar-expand-lg {
    .navbar-nav .nav-link {
        color: #fff;
        font-size: 12px;
        font-weight: 600;
    }
    button {
        color: #fff;
        background: #e50913;
        border-radius: 0;
    }
    li.nav-item {
        margin: 0 33px;
    }
}
.banner-section {
    background: url(../assets/bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 250px 0 150px 0;
    height: 100%;
    .banner-heading {
        font-family: "Poppins", sans-serif;
        font-weight: bold;
        font-size: 40px;
        line-height: 1.5;
        color: #ffffff;
        margin-bottom: 30px;
    }
    .caption {
        font-weight: 400;
        font-size: 14px;
        line-height: 2;
        letter-spacing: 0.17em;
        color: #dbd6d6;
        margin-bottom: 35px;
    }
    .banner-buttons {
        display: flex;
        .white-paper {
            background: #313238 !important;
        }
        .button {
            border-radius: 0px;
            font-size: 16px;
            font-weight: 600;
            text-align: center;
            color: #ffffff;
            border: 0px solid;
            width: auto;
            padding: 15px 1.75rem;
            box-shadow: none !important;
        }
        .xprt {
            background: #e50913 !important;
            margin-right: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0 0 10px #e50913 !important;
        }
    }
}

.second-section {
    padding: 100px 0 100px 0;
    .icon-feacture {
        width:90px;
        height: 75px;
    }
    .section-title {
        color: #ffffff;
        text-align: center;
        padding: 0;
        margin-bottom: 80px;
    }
  
    .feactures-card {
        background: #232327;
        color: #fff;
        padding: 65px 30px;
        height: 380px;
       
        h5 {
            font-size: 18px;
            font-weight: 600;
            line-height: 2;
        }
        p {
            line-height: 2;
            font-size: 14px;
            color: #a49e9e;
        }
    }
}
.navbar.navbar-expand-lg {
    background: #1d1d22;
    padding: 30px 0;
}

.info-section{
    padding: 100px 0;
.heading{
    font-weight: bold;
    font-size: 28px;
    line-height: 131.4%;
    color: #FFFFFF;
}
    .caption{
        font-weight: normal;
        font-size: 15px;
        line-height: 200%;
        color: #DBD6D6;
    }
    .image-section{
        img{
            width: 100%;
        }
    }
}

.uses-section{
    padding: 100px 0;
    .heading{
        font-weight: bold;
        font-size: 28px;
        line-height: 131.4%;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 70px;

    }

    .box-list{
        display: flex;
        flex-wrap: wrap;
        margin: 0px 100px 0px 100px;
        .box{
            background: #232327;
            padding: 30px 25px;
            display: flex;
            align-items: center;
            flex: 1;
            .number{
                width: 34px;
                background: #515257;
                height: 34px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 25px;
                p{
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 150%;
                    color: #F5F5F5;
                    margin: 0;
                }
            }
            .content{
                font-weight: 500;
                font-size: 14px;
                line-height: 150%;
                color: #F5F5F5;
                margin: 0;
            }
            &:nth-child(2){
                margin: 0 25px;
            }
            &:hover{
                background: #333336;
                .number{
                    background:#e50913;
                }
            }
        }
    }
    .box-list.row1{
        margin-bottom: 30px;
    }
}
.contact-section{
    padding: 100px 0;
    .row{
        padding: 30px;
        background: #222225;
        .content{
            display: flex;
            justify-content: center;
            align-items: center;
            .info{
                p{
                    font-weight: bold;
                    font-size: 28px;
                    line-height: 131.4%;
                    text-align: center;
                    color: #FFFFFF;
                }
                .blog-button{
                    background: #313238;
                    padding: 15px 30px;
                    outline: none;
                    box-shadow: none;
                    border: 0px solid;
                    .icon-medium{
                        fill: #515257;
                    }
                    svg{
                        width: 16px;
                    }
                    .text{
                        font-size: 14px;
                        line-height: 131.4%;
                        text-align: center;
                        color: #FFFFFF;
                        padding: 0px 10px;
                    }
                }
            }
        }
    }
}
.footer-section{
    padding: 100px 0;
    .icon-list{
        display: flex;
        justify-content: center;
        padding-bottom: 30px;
        .icon-box{
            padding: 0 10px;
            svg{
                width: 18px;
                fill: #515257;
                &:hover{
                    fill: #e50913;
                    cursor: pointer;
                }
            }
        }
    }
    .terms{
        font-weight: normal;
        font-size: 12px;
        line-height: 131.4%;
        text-align: center;
        color: #70747C;
    }
}
@media (min-width: 1400px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1340px !important;
    }
}
